body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    color: #ffffff;
    background: #000000;
    cursor: default;
    overflow: hidden;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

#background {
    background-size: cover;
    opacity: 0.1;
    background-image: none;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    justify-content: center;
    align-content: center;
}

ul {
    list-style: none;
    text-align: left;
    min-height: 280px;
}

li {
    margin: 8px;
    width: 300px;
    height: 13px;
    justify-content: space-evenly;
    text-align: justify;
}

li::after {
    content: "";
    display: inline-block;
    width: 100%
}

li:hover {
    background: #ffffff;
    color: #000000;
    cursor: pointer;
}

.listTitle {
    font-size: 13px;
    margin: 10px;
    height: auto;
    text-align: left;
}

.listTitle:hover {
    background: none;
    color: #ffffff;
    cursor: default;
}

.active {
    display: initial;
}

.hidden {
    display: none;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.buttons h1 {
    cursor: pointer;
    font-size: 24px;
}

.header h1 {
    font-weight: 100;
}

.footer {
    margin-top: 28px;
    display: flex;
    justify-content: space-around;
}

.socialLink {
    text-decoration: none;
    font-size: 18px;
    color: #3f3f3f;
}

.socialLink:hover {
    color: #e4e4e4;
}

.filler:hover {
    background: none;
    cursor: default;
}

a {
    text-decoration: none;
    color: #ffffff;
}